@namespace s "library://ns.adobe.com/flex/spark";

s|Application
{
    fontFamily: "Helvetica, Arial, sans-serif";
}

.shoudioMessage
{
    fontSize: 16px;
    fontWeight: bold;
}

.shoudioDescription
{
    fontFamily: Georgia;
    fontSize: 12px;
}